.principal{
    height: 3cm;
    width: 5cm;
    padding-left: 02cm;
    margin-left: 0.7cm ;
    margin-right: 0.7cm ;
      padding-top: -1%;
      border: aqua 0.2cm groove;
    background-color: rgb(84, 183, 172);
    color: black;
}
 
.usthb {
    width: 270px;
    height: 240px;

    position: absolute;
     left: 78%;
}

.chap1 {
    width: 200px;
    height: 200px;

    position: relative;
    left: 40%;
}
   
div .ak{
         font-size: x-large;
}
.mat
{   border: peru 0.15cm groove;
    background-color: rgb(147, 203, 203);
    width :25.6cm;

}
.bi
{              background-color:rgba(87, 201, 171, 0.384);
                width: 12cm;}
.titre{
    width: 11.4cm;
    background-color: coral;

}
.soustitre{
      background-color: rgb(93, 171, 207);
     
      width: 12cm;
} 
.soustitre2{
    background-color: rgb(225, 200, 90);
    width :6.5cm;
}
.soustitre2l
{background-color: rgb(225, 200, 90);
    width :17cm;}
.last1
{
    background-color: darksalmon;
    width: 7cm;
}
.last2
{
    background-color: darksalmon;
    width: 22cm;
    
}
.txt{
    font-size: 20px;
}
.txt2{
    font-size: 17.8px;
    
}
.bid{
    background-color:lightblue;
}
.t2{
    background-color: pink;
}
.t3{
    background-color: aquamarine;
}
.t4{
    background-color: darkseagreen;
}
.t5{
    background-color:palegreen;
}